@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=PT+Sans+Caption:wght@400;700&display=swap");
/* Override the default body font. */
@import "../css/icomoon/style.css";
body, table td {
  font-family: "Crimson Text", serif !important;
}

body {
  background-image: url("../images/body_bg.jpg") !important;
}

h1, h2, h3, h4, h5, h6, table th {
  font-family: "PT Sans Caption", sans-serif !important;
}

q, blockquote {
  margin: 8px 30px !important;
  background-color: #ccc !important;
  padding: 0.6em 0.3em !important;
  font-size: 2.2em !important;
  line-height: 1.2em !important;
  border-radius: 0.1em;
}
q p, blockquote p {
  color: #666;
}
q p:before, blockquote p:before {
  content: "“";
}
q p:after, blockquote p:after {
  content: "”";
}

table caption {
  font-family: "Crimson Text", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.125em;
  padding-top: 0.6em;
  padding-bottom: 0.1em;
  color: #666;
}
table tr.odd {
  background-color: #e5e5e5;
}
table tr.even {
  background-color: #ccc;
}
/* Front page overrides */
.path-frontpage .content_layout {
  text-align: left !important;
}

/*
 * This contains overrides for the FontAwesome library.
 */
.fa-ul > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1.6em;
}
.fa-ul > li:last-of-type {
  margin-right: 0;
}

.fa-li {
  top: 0.275em !important;
  left: -1.75em !important;
}

/* Main header */
header.main-header .region.region-header {
  padding-top: 2em;
}

.address-wrap {
  background-image: none !important;
}

/* Front page specific styles. */
.path-frontpage [class*=region-topwidget-] .term-description {
  min-height: 165px;
}
.path-frontpage [class*=region-topwidget-] .term-description .content {
  padding: 0.5em 2em 1em !important;
}
.path-frontpage .address-wrap blockquote {
  background-color: transparent !important;
}

/* User account menu */
nav[id*=block-ronferguson-zymphonies-][id$=account-menu] ul.menu {
  list-style-position: outside;
}
nav[id*=block-ronferguson-zymphonies-][id$=account-menu] ul.menu li {
  display: inline-block;
  margin-right: 1.8em;
}
nav[id*=block-ronferguson-zymphonies-][id$=account-menu] ul.menu li:last-of-type {
  margin-right: 0;
}
nav[id*=block-ronferguson-zymphonies-][id$=account-menu] ul.menu li:after {
  content: " ";
  display: inline-block;
}

#block-views-block-slideshow-block-1 {
  margin: 0 0 0 0 !important;
}
