@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=PT+Sans+Caption:wght@400;700&display=swap');

$body_font: 'Crimson Text', serif;
$heading_font: 'PT Sans Caption', sans-serif;

$white: #fff;
$black: #000;
$grey1: #e5e5e5;
$grey2: #ccc;
$grey3: #999;
$grey4: #666;
$grey5: #333;