/* User account menu */
nav[id*='block-ronferguson-zymphonies-'][id$='account-menu'] {
  ul.menu {
    //list-style-type: none;
    list-style-position: outside;

    li {
      //list-style-type: none;
      display: inline-block;
      margin-right: 1.8em;

      &:last-of-type {
        margin-right: 0;
      }

      &:after {
        content: " ";
        display: inline-block;
      }
    }
  }
}