/* Main header */
header.main-header {
  .region {

    &.region-header {
      padding-top: 2em;
    }

  }
}

.address-wrap {
  background-image: none !important;
}

/* Front page specific styles. */
.path-frontpage {
  [class*="region-topwidget-"] {

    .term-description {
      min-height: 208px;

      .content {
        padding: .5em 2em 1em !important;
      }
    }

  }

  .address-wrap {
    blockquote {
      background-color: transparent !important;
    }
  }
}